 @{
                     Layout = "~/Views/Shared/_Layoutuser.cshtml";
  }
		
							<!-- Content -->
								<section>
									<header class="main">
										<h2>AVAILABLE CLASSES IN TRAINS</h2>
									</header>
                                    				<h4>You can travel in the following available classes as per your requirements:</h4>
                                      <div class="textOverImage" style="text-align: center; opacity: 0.8; filter: alpha(opacity=50); font-family:'Roboto', sans-serif; background-image: url('/Content/images/class1.jpg'); background-repeat: no-repeat;  background-size: 100%;  background-position: right; ">
   
														<table Style="color:#000;  font-size:22px; font-style:oblique;">
                                                             <thead>
																<tr style=" font-size:22px;">
																	<th ">Sr.#</th>
																	<th>Class Code</th>
																	<th>Class Name</th>
																</tr>
															</thead>
															<tbody style="margin-left:-35px;">
																<tr>
																	<td>1.</td>
																	<td>ACSL</td>
																	<td>AC Sleeper</td>
																</tr>
																<tr>
																	<td>2.</td>
																	<td>PC</td>
																	<td>AC Parlour Car</td>
																</tr>
																<tr>
																	<td>3.</td>
																	<td>ACLZ</td>
																	<td>AC Business</td>
																</tr>
																<tr>
																	<td>4.</td>
																	<td>ACL</td>
																	<td>AC Standard</td>
																</tr>
																<tr>
																	<td>5.</td>
																	<td>ISL</td>
																	<td>First Class Sleeper</td>
																</tr>
																<tr>
																	<td>6.</td>
																	<td>EC</td>
																	<td>Economy Class</td>
																</tr>
																<tr>
																	<td>7.</td>
																	<td>SEC</td>
																	<td>Second Class</td>
																</tr>
															</tbody>
														</table>
                                             
                                      </div>                              
								</section>
                            

